.results {
  border: 2px solid rgb(156, 156, 206);
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .75);
}

h2 {
  font-size: 25px;
  color: rgb(60, 60, 63);
  text-align: center;
}
